{% extends "master.html.twig" %}

{% block title %}Board: {{board.title}}{% endblock title %}

{% block content %}

    <section class="section">
        <h1 class="title is-1">{{board.title}}</h1>
        <div class="block">
            <a class="button" href="/board/{{board.boardId}}/newthread">Start new thread</a>
        </div>
        {% for thread in threadList %}
            <div class="container">
                <div class="menu">
                    <a href="/thread/{{thread.threadId}}">{{thread.title}}</a>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock content %}