{% extends "master.html.twig" %}

{% block title %}Board: {{board.title}}{% endblock title %}

{% block content %}

    <h1 class="title is-1">{{board.title}} Threads</h1>
    <div class="block">
        <a class="button" href="/board/{{board.boardId}}/newthread">New Thread</a>
    </div>
    <aside class="menu">
            <ul class="menu-list">
    {% for thread in threadList %}
                <li><a href="/thread/{{thread.threadId}}">{{thread.title}}</a></li>
    {% endfor %}
            </ul>
    </aside>

{% endblock content %}