{% extends "master.html.twig" %}

{% block title %}{{thread.title}}{% endblock title %}

{% block content %}
    
    <h1 class="title is-1">{{thread.title}}</h1>
    
    <div class="postListContainer">
        {% for p in postList %}
            <div class="postContainer"><p>{{p.username}} posted on {{p.date}}</p>
                <div class="postBody">{{p.body}}</div>
            </div>
        {% endfor %}
    </div>
    {% if user %}
    <form class="replyForm" method="post">
        <textarea name="body" placeholder="Enter reply here..."></textarea><br>
        <input type="submit" value="Reply">
    </form>
    {% endif %}
    <!-- Thinking of adding "Reply" button here which links to the reply to thread form, but would rather have it appear on one page rather than link to a new one -->
{% endblock content %}
